$primaryColor: #0277bd;
$accentColor: #1de9b6;
$bgColor: #fffff0;
$darkBgColor: #263238;
$lightBgColor: #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor: #212121;
$highlight: yellow;
$footerSize: 60px;

html {
    font-size: 62.5%;
    line-height: 1.4;
}

button, html, input, select, textarea {
    font-family: Roboto,Helvetica Neue,sans-serif;
}

body, html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    position: relative;
}
